.goods-detail {
  img {
    width: 100%;
    display: block;
  }

  .goods-basic-info {
    padding: 0 15px;
    padding-bottom: 15px;
    background: #fff;

    .price-wrap {
      padding: 15px 0;

      .price {
        color: #ff5000;
        font-size: 25px;

        &::before {
          font-size: 16px;
        }
      }
    }

    .goods-name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      color: rgb(51, 51, 51);
      font-weight: bold;
    }
  }

  .goods-service-info {
    margin-top: 10px;
    background: #fff;
    padding: 0 15px;

    .list {
      display: flex;
      height: 42px;
      align-items: center;
      justify-content: space-between;

      label {
        margin-right: 15px;
        font-size: 14px;
        color: rgb(153, 153, 153);
      }

      p {
        font-size: 14px;
        color: rgb(51, 51, 51);
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 17px;
      }

      i {
        color: rgb(204, 204, 204);
        font-size: 15px;
      }
    }
  }

  .comment {
    margin-top: 10px;
    background: #fff;
    padding: 0 15px;

    .topic {
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        font-size: 14px;
        color: rgb(51, 51, 51);
      }

      .more {
        color: rgb(255, 80, 0);
        font-size: 13px;

        i {
          color: rgb(255, 80, 0);
          font-size: 14px;
        }
      }
    }

    .comment-box {
      padding-bottom: 10px;

      .comment-wrap {
        .avatar {
          display: flex;
          align-items: center;

          img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 5px;
          }

          .author {
            font-size: 13px;
            color: rgb(153, 153, 153);
          }
        }

        .content {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
          color: rgb(51, 51, 51);
          padding: 10px 0;
        }
      }
    }
  }

  .divid-topic {
    background-color: #f2f2f2;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    &::before,
    &::after {
      content: "";
      width: 20%;
      height: 1px;
      background-color: #999;
      margin: 0 10px;
    }
  }

  .settle-box {
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    display: flex;
    z-index: 110;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0 -1px 6px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: env(safe-area-inset-bottom);
    justify-content: space-between;
    box-sizing: border-box;

    .small-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #999;

      i {
        font-size: 18px;
      }

      span {
        margin-top: 2px;
        font-size: 12px;
      }
    }

    .btn {
      width: 65%;
      .left {
        display: inline-flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0 0 20px;
        width: 50% !important;
        color: #fff;
        text-align: center;
        cursor: pointer;
        line-height: 1;
        padding: 0;
        font-size: 14px;
        background-image: linear-gradient(to right, #FFC500, #FF9402);
      }

      .right {
        display: inline-flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 0 20px 20px 0;
        background-image: linear-gradient(to right, #FF7A00, #FE560A);
        width: 50% !important;
        color: #fff;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        line-height: 1;
        padding: 0;
      }
    }
  }
}